#!/bin/sh
#
# /etc/rc.d/pure-ftpd: start/stop pure-ftpd daemon
#

SSD=/sbin/start-stop-daemon
PROG=/usr/sbin/pure-ftpd
PID=/var/run/pure-ftpd.pid
CRT=/etc/ssl/certs/pure-ftpd.pem

OPTS="/etc/pure-ftpd.conf"

case $1 in
start)
	if [ ! -s $CRT ]; then
		/usr/bin/mksslcert $CRT $CRT
	fi

	$SSD --start --pidfile $PID --exec $PROG -- $OPTS
	;;
stop)
	$SSD --stop --retry 10 --pidfile $PID
	;;
restart)
	$0 stop
	$0 start
	;;
status)
	$SSD --status --pidfile $PID
	case $? in
	0) echo "$PROG is running with pid $(cat $PID)" ;;
	1) echo "$PROG is not running but the pid file $PID exists" ;;
	3) echo "$PROG is not running" ;;
	4) echo "Unable to determine the program status" ;;
	esac
	;;
*)
	echo "usage: $0 [start|stop|restart|reload|status]"
	;;
esac

# End of file
