#!/bin/sh
#
# /etc/rc.d/sslh: start/stop sslh daemon
#

case $1 in
start)
  /usr/sbin/sslh 
  ;;
stop)
  killall -q /usr/sbin/sslh
  ;;
restart)
  $0 stop
  sleep 2
  $0 start
  ;;
*)
  echo "usage: $0 [start|stop|restart]"
  ;;
esac

# End of file
